@if (Languages != null)
{
    <div class="languages">
        <h1>Languages</h1>
        <p> I can speak 
            @foreach (var language in Languages)
            {
                @if (language == Languages.Last())
                {
                    <span class="language"> and @language.Level @language.Name!</span>
                }
                else
                {
                    <span class="language">@language.Level @language.Name,</span>
                }
            }
        </p>
    </div>
}
else
{
    <!-- Languages are not available -->
}
@code {
    [Parameter]
    public List<ResumeLanguageModel>? Languages { get; set; }
}
