@if (Basics != null)
{
    <article class="secondary">
        <div class="row">
            <img class="circle large" src="@Basics.Picture"/>
            <div class="max">
                <h5 class="no-margin">@Basics.Name</h5>
                <p>@Basics.Label</p>
                <p class="no-margin">Born on @Basics.BirthDate</p>
            </div>
        </div>
    </article>
}
else
{
    <!-- Basic information is not available -->
}

@code {
    [Parameter]
    public ResumeBasicsModel? Basics { get; set; }
}
