@if (Education != null)
{
    <li>
        <h2>@Education.School</h2>
        <ul>
            <li>Degree: @Education.Degree</li>
            <li>Graduated: @Education.Graduated</li>
            <li>@Education.Description</li>
        </ul>
    </li>
}
else
{
    <!-- Education is not available -->
}
@code {
    [Parameter]
    public ResumeEducationModel? Education { get; set; }
}
