@if (Certification != null)
{
<div class="row">
        <i class="@IconColorClassCss">workspace_premium</i>
        <div class="max">
            <h6>@Certification.Name</h6>
            <p>Issuer: @Certification.Issuer</p>
            <p>Date: @Certification.Date</p>
        </div>
</div>
}
else
{
    <!-- Certification is not available -->
}

@code {
    private const string IconColorClassCss = "light-green-text";

    [Parameter]
    public ResumeCertificationModel? Certification { get; set; }
}
