@if (Language != null)
{
    <div class="row">
        
        <i class="@IconColorClassCss">language</i>
        <div class="max">
            <h6 class="no-margin">@Language?.Name</h6>
            <p class="no-margin">@Language?.Level</p>
        </div>
    </div>
}
else
{
    <!-- Language not available -->
}
@code {
    private const string IconColorClassCss = "light-green-text";
    [Parameter]
    public ResumeLanguageModel? Language { get; set; }
}
