@if (Education != null)
{
    <div class="row">
        <i class="@_iconColorClassCss">school</i>
        <div class="max">
            <h6 class="no-margin">(@_dateString) @Education.School</h6>
            <p>@Education.Degree</p>
            <p class="no-margin">@Education.Description</p>
        </div>

    </div>
}
else
{
    <!-- Education is not available -->
}
@code {
    private string _iconColorClassCss = "orange-text";
    private string? _dateString; 
    
    [Parameter]
    public ResumeEducationModel? Education { get; set; }
    
    protected override void OnParametersSet()
    {
        if (Education == null) return;
        _iconColorClassCss = Education.Graduated ? "light-green-text" : "orange-text";
        _dateString = Education.EndDate == null
            ? $"{Education.StartDate.Year} - Present"
            : $"{Education.StartDate.Year} - {Education.EndDate?.Year}";
    }
}
