@if (Languages != null)
{
    <div class="row">
        
        <i class="@IconColorClassCss">language</i>
        <div class="max">
            <h6>@Language.Name</h6>
            <p>@Language.Level</p>
        </div>
    </div>
}
else
{
    <!-- Language not available -->
}
@code {
    [Parameter]
    public ResumeLanguageModel? Language { get; set; }
}
