@page "/resume"
@using ResumeApp.Components.Resume
@using ResumeApp.Services
@inject ResumeService ResumeService

@if (ResumeData == null)
{
    <PageTitle>Resume is loading...</PageTitle>
    <a class="loader little-padding" role="status">
        <span class="tiny no-opacity">Loading...</span>
    </a>
}
else
{
    <article class="primary-container">
        <PageTitle>Resume of @ResumeData.Basics.Name</PageTitle>
        <ResumeBasics Basics="ResumeData.Basics" />
        @if (ResumeData.Work != null)
        {
            <article class="no-margin">
                <details>
                    <summary class="none">
                        <div class="row">
                            <i>work</i>
                            <div class="max">
                                <h5 class="no-margin">Work Experience</h5>
                            </div>
                            <i class="right">arrow_drop_down</i>
                        </div>
                    </summary>
                    <div>
                        @foreach (var work in ResumeData.Work)
                        {
                            <ResumeWork Work="work" />
                        }
                    </div>
                </details>
            </article>
        }
        <article class="no-margin">
            <details>
                <summary class="none">
                    <div class="row">
                        <i>school</i>
                        <div class="max">
                            <h5 class="no-margin">Education</h5>
                        </div>
                        <i class="right">arrow_drop_down</i>
                    </div>
                </summary>
                <div>
                    @foreach (var education in ResumeData.Education)
                    {
                        <ResumeEducation Education="education" />
                    }
                </div>
            </details>
        </article>
        @if (ResumeData.Certificates != null)
        {
            <article class="no-margin">
                <details>
                    <summary class="none">
                        <div class="row">
                            <i>workspace_premium</i>
                            <div class="max">
                                <h5 class="no-margin">Certifications</h5>
                            </div>
                            <i class="right">arrow_drop_down</i>
                        </div>
                    </summary>
                    <div>
                        @foreach (var certification in ResumeData.Certificates)
                        {
                            <ResumeCertification Certification="certification" />
                        }
                    </div>
                </details>
            </article>
        }
        else
        {
            <!-- Certifications are not available -->
        }

        @if (ResumeData.Skills != null)
        {
            <article class="no-margin">
                <details>
                    <summary class="none">
                        <div class="row">
                            <i>build</i>
                            <div class="max">
                                <h5 class="no-margin">Skills</h5>
                            </div>
                            <i class="right">arrow_drop_down</i>
                        </div>
                    </summary>
                    <div>
                        @foreach (var skill in ResumeData.Skills)
                        {
                            <ResumeSkills Skill="skill" />
                        }
                    </div>
                </details>
            </article>
        }
        else
        {
            <!-- Skills are not available -->
        }
        <article class="no-margin">
            <details>
                <summary class="none">
                    <div class="row">
                        <i>language</i>
                        <div class="max">
                            <h5 class="no-margin">Languages</h5>
                        </div>
                        <i class="right">arrow_drop_down</i>
                    </div>
                </summary>
                <div>
                    @foreach (var language in ResumeData.Languages)
                    {
                        <ResumeLanguages Language="language" />
                    }
                </div>
            </details>
        </article>
    </article>
}
@code {
    public ResumeModel? ResumeData { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        ResumeData = await ResumeService.GetResumeDataAsync();
    }
}
