@page "/resume"
@using ResumeApp.Components.Resume
@inject HttpClient Http

@if (ResumeData == null)
{
    <PageTitle>Resume is loading...</PageTitle>
    <a class="loader" role="status">
        <span class="tiny no-opacity">Loading...</span>
    </a>
}
else
{
    <PageTitle>Resume of @ResumeData.Basics.Name</PageTitle>
    <ResumeBasics Basics="ResumeData.Basics" />
    <div class="education">
        <h1>Education</h1>
        @foreach (var education in ResumeData.Education)
        {
            <ResumeEducation Education="education" />
        }
    </div>
    @if (ResumeData.Certificates != null)
    {
        <div class="certifications">
            <h1>Certifications</h1>
            @foreach (var certificate in ResumeData.Certificates)
            {
                <ResumeCertification Certification="certificate" />
            }
        </div>
    }
    else
    {
        <!-- Certifications are not available -->
    }
    <ResumeLanguages Languages="ResumeData.Languages" />
}
@code {
    public ResumeModel? ResumeData { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        ResumeData = await Http.GetFromJsonAsync<ResumeModel>("data/resume.json");
    }
}
