@page "/resume"
@using ResumeApp.Components.Resume
@inject HttpClient Http

@if (ResumeData == null)
{
    <PageTitle>Resume is loading...</PageTitle>
    <p><em>Loading...</em></p>
}
else
{
    <PageTitle>Resume of @ResumeData.Basics.Name</PageTitle>
    <ResumeBasics Basics="ResumeData.Basics" />
    <ResumeEducation Education="ResumeData.Education" />
    <ResumeCertifications Certifications="ResumeData.Certificates" />
    <ResumeLanguages Languages="ResumeData.Languages" />
}
@code {
    public ResumeModel? ResumeData { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        ResumeData = await Http.GetFromJsonAsync<ResumeModel>("data/resume.json");
    }
}
